* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: sans-serif;
}


*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: rgb(43, 40, 33);
}

*::-webkit-scrollbar-thumb {
  background-color: #bebebe;
  border-radius: 0px;
  border: 2px outset #757575;
}

@font-face {
font-family: 'black_mangoregular';
src: url('blackmango-regular-webfont.woff2') format('woff2'),
     url('blackmango-regular-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;

}

body {
overflow-x: hidden;
}

@keyframes background-pan {
from {
  background-position: 0% center;
}
to {
  background-position: -200% center;
}
}


.ghlink {
  text-decoration: none;
}

.ghlink > a {
  color: rgba(255, 255, 255, 0.709);
  font-size: 1.25em;
  font-family: 'Space Mono', monospace;
  text-decoration: underline;
  text-decoration-color: #b9b9b9;
}

.ghlink > a:hover {
  text-decoration: none;
  background: #b9b9b9;
  color: #0c0c0c;
  border-radius: 0%;
  transition: 450ms ease;

}

section {
  height: 100vh;
  /* width: 100vw; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  color: rgb(255, 255, 255);
  /* scroll-snap-align: start; */
}  

/* scroll down to cont thing */
h2 {
color: white;
font-family: "Space Mono", monospace;
}

/* welcome styling */
h3 {
color: white;
font-size: 5rem;
font-family: "Space Mono", monospace;
padding: 0rem clamp(1rem, 2vw, 3rem);
border-radius: clamp(0.4rem, 0.75vw, 1rem);
}

h3:hover {
background-color: white;
color: black;
}

/* corner decor styling */
h4 {
color: white;
font-size: 5rem;
font-family: "Space Mono", monospace;
}

/* special corner styling */
h5 {
color: var(--col);
font-size: var(--sz);
font-family: "Space Mono", monospace;
transition: all 50ms ease-in-out;

}

/* music titles + slides styling */
h6 {
color: white;
font-size: 4rem;
font-family: "Space Mono", monospace;
}

/* love text stuff */
h1 {
text-align: center;
}

/* h1 > .love  {
display: inline-block;
position: relative;
}

h1 > .love > .love-text {
font-weight: 700;
animation: background-pan 2s linear infinite;
background: linear-gradient(
  to right,
  var(--red),
  var(--darkPink),
  var(--pink),
  var(--red)
);
background-size: 200%;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
whitespace: nowrap;
padding-top: 30px;

padding-bottom: 30px;
} */

/* background colors */
.one {
background: rgb(43, 40, 33);
}
.two {
background: rgb(60, 56, 47);
}
.three {
background: rgb(48, 45, 37);
}
.four {
background: var(--fourDefaultBg)
}
.side {
background-color: rgb(38, 37, 29);
}
.log {
background-color: rgb(48, 46, 37);
}

#heading {
  text-align: center;
  font-size: 40;
  font-family:"Rubik", sans-serif;
  color:antiquewhite
}

#paragraph {
  text-align: center;
  font-size: 40;
  font-family:"Rubik", sans-serif;
  color:antiquewhite
}

#mainWel {
  position: absolute;
}

/* corner decor position */
#plus1 {
  position: absolute;
  transform: translate(-580px, -320px);
}

#plus2 {
  position: absolute;
  transform: translate(580px, 320px);
}

#plus3 {
  position: absolute;
  transform: translate(580px, -320px);
}

#plus4 {
  position: absolute;
  transform: translate(-580px, 320px);
}

#corners {
  position: absolute;
  transform: translate(0, 1150%);
}


/* image track stuff */
#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 0 50;
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 150%;
  transform: translate(-24%, -50%);
}

/* for mouse pointer blob */
#blob {
  background-color: white;
  height: 75%;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(
    to right,
    aquamarine,
    mediumpurple
  );
  animation: rotate 20s infinite;
  opacity: 0.8;
  filter: blur(200px);
  z-index: 0;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }
  
  to {
    rotate: 360deg;
  }
  
}

/* vars used throughout the project */
:root {
  --background-color: rgb(6, 11, 25);
  --border-color: rgb(255, 255, 255, 0.1);
  --highlight-color: rgb(126, 87, 194);
  --yt-color: rgb(229, 57, 53);
  --red: rgb(255, 255, 255);
  --darkPink: rgb(255, 255, 255);
  --pink: rgb(255, 255, 255);
  --fourDefaultBg: rgb(57, 54, 49);

  --pss: 4rem;
  --pss1: 4rem;
  --pss2: 4rem;

  --col: rgb(255, 255, 255);
  --sz: 5rem;

  --red1: rgb(255, 255, 255);
  --darkPink1: rgb(255, 255, 255);
  --pink1: rgb(255, 255, 255);

  --white1:rgb(255, 255, 255);
  --lightBlue1:rgb(255, 255, 255);
  --blue1:rgb(255, 255, 255);
  
  --white2:rgb(255, 255, 255);
  --lightRed1:rgb(255, 255, 255);
  --realRed1:rgb(255, 255, 255);

  --pc1:rgb(255, 255, 255);
  --pc2:rgb(255, 255, 255);
  --pc3:rgb(255, 255, 255);

  --border: rgb(161, 161, 161);

  --c1Text: rgb(0, 0, 0);
  --c2Text: rgb(0, 0, 0);
  --c3Text: rgb(0, 0, 0);
}

/* slides stuff */
p, span {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: white;
  margin: 0px;
}
 
nav {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}

main > article {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  position: absolute;
  z-index: 10;
  left: 0px;
  top: 0px;
  transition: transform 400ms ease;  

}

main > article[data-status="inactive"] {
  transform: translateX(-100%);
  transition: none;
}

main > article[data-status="active"] {
  transform: translateX(0%);
}

main > article[data-status="before"] {
  transform: translateX(-100%);
}

main > article[data-status="after"] {
  transform: translateX(100%);
}

main > article[data-status="becoming-active-from-before"] {
  transform: translateX(-100%);
  transition: none;
}

main > article[data-status="becoming-active-from-after"] {
  transform: translateX(100%);
  transition: none;
}

main > article > .article-section {
  height: 100%;
  display: flex;
}

main > article > .article-description-section,
main > article > .article-nav-section {
  border-left: 1px solid var(--border-color);
}

main > article > .article-title-section,
main > article > .article-nav-section {
  border-top: 1px solid var(--border-color);
}

main > article:first-child > .article-image-section {
  background-image: url(images/ribbittemp.png);
}

main > article:nth-child(2) > .article-image-section {
  background-image: url(images/quaketemp.png);
}

main > article:nth-child(3) > .article-image-section {
  background-image: url(images/fun.PNG);
}

main > article:nth-child(4) > .article-image-section {
  background-image: url(images/snippyai.png);
}

main > article > .article-image-section {
  background-position: center;
  background-size: cover;
}

main > article > .article-description-section {
  flex-direction: column;
  justify-content: flex-end;
  padding: 4rem; 
}

main > article > .article-description-section > p {
  color: rgba(255, 255, 255, 0.709);
  font-size: 1.25em;
  font-family: "Space Mono", monospace;
}

main > article > .article-description-section > p  > a:hover {
  text-decoration: underline;
}

main > article > .article-title-section {
  align-items: center; 
  justify-content: space-between;
  padding: 2rem 4rem;
}

main > article > .article-title-section * {
  color: white;
}

main > article > .article-title-section > h2 {
  flex-basis: 50%;
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 3rem;
  margin: 0px;
  text-transform: uppercase;
}

main > article > .article-title-section > i {
  color: rgba(255, 255, 255, 0.75);
  font-size:  4rem;
}

main > article > .article-nav-section > .article-nav-button {
  background-color: transparent;
  flex-grow: 1;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.75);
  font-size: 3rem;
  cursor: pointer;
}

main > article > .article-nav-section > .article-nav-button:hover {
  background-color: rgba(255, 255, 255, 0.02);
}

main > article > .article-nav-section > .article-nav-button:nth-child(2) {
  border-left: 1px solid var(--border-color);
}

@media(max-width: 1200px) {    
  #nav-mobile-section {
    flex-basis: calc(100% * 0.75);
  }
  
  #nav-logo-section {
    flex-basis: calc(100% * 0.25);
  }
  
  #nav-link-section {
    flex-basis: calc(100% / 3);
    gap: 3rem;
  }
  
  main {
    overflow-y: auto;
  }
  
  main > article {
    grid-template-columns: none;
    grid-template-rows: 1.5fr repeat(3, 0.75fr) 0.25fr;
    height: max(900px, 100%);
  }
   
  main > article > .article-title-section > h2 {
    font-size: 3rem; 
    line-height: 2.6rem;
  }
  
  main > article > .article-title-section > i {
    font-size: 3rem; 
  }
  
  main > article > .article-description-section,
  main > article > .article-nav-section {
    border-left: none;
  }

  main > article > .article-image-section {
    order: 1;
  }
  
  main > article > .article-title-section {
    border-bottom: 1px solid var(--border-color);
    order: 2;
  }
  
  main > article > .article-description-section {
    justify-content: center;
    order: 3;
  }
  
  main > article > .article-nav-section {
    border-bottom: 1px solid var(--border-color);
    order: 4;
  }
}

@media(max-width: 800px) {  
  nav {
    justify-content: space-between;  
  }
  
  nav[data-toggled="true"] > #nav-mobile-section {  
    transform: translateY(0%);
  }

  nav[data-toggled="true"] > #nav-toggle-button {
    border-left: none;
  }

  nav[data-transitionable="true"] > #nav-mobile-section {
    transition: transform 400ms ease;
  }
  
  nav .nav-section {
    border-left: none;
    padding: 1.5rem 1rem;
  }
  
  #nav-logo-section > a > i {
    font-size: 1.5rem;
    margin-left: 1rem;
  }
  
  #nav-mobile-section {
    background-color: var(--background-color);
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: fixed;
    transform: translateY(-100%);
  } 
  
  #nav-toggle-button {
    display: flex;
  }  
  
  #nav-link-section {
    flex-basis: 60%;
    flex-direction: column;
    gap: 4rem;
  }
  
  main > article {
    grid-template-rows: 1fr repeat(4, 0.5fr);
    height: max(700px, 100%);
  }
  
  main > article > .article-title-section {
    padding: 2rem;
  }
  
  main > article > .article-title-section > h2 {
    flex-basis: 70%;
    font-size: 1.75em; 
    line-height: 1.5rem;
  }
  
  main > article > .article-title-section > i {
    font-size: 2rem; 
  }
  
  main > article > .article-description-section {
    padding: 2rem;
  }
  
  main > article > .article-description-section > p {
    font-size: 1rem;
  }
}




/* music card1 */
.card1 {
  aspect-ratio: 1 / 1.6;
  border: 0.5vmin solid var(--border);
  position: relative;
  width: 32vmin;
  transform: translateX(-15%);
}


.card1:hover:before {
background-position: 100% 100%;
transform: scale(1.08, 1.03);
}

.card1:hover > .card-content1 {
background-position: -10% 0%;
}

.card1:hover > .card-icon1 {
color: white; 
}

.card1:hover > .card-content1 > .card-subtitle1 > .card-subtitle-word1 {  
opacity: 1;
transform: translateY(0%);
transition: opacity 0ms, transform 200ms cubic-bezier(.90, .06, .15, .90);
}

.card1:before {
background: linear-gradient(
  130deg, 
  transparent 0% 33%, 

  rgb(145, 17, 17) 66%, 
  rgb(195, 97, 97) 83.5%, 
  rgb(155, 155, 155)100%
  );
background-position: 0% 0%;
background-size: 300% 300%;
content: "";
height: 100%;
left: 0px;
pointer-events: none;
position: absolute;
top: 0px;
transition: background-position 350ms ease, transform 350ms ease;
width: 100%;
z-index: 1;
}

.card-content1 {
background-image: radial-gradient(
  rgba(255, 255, 255, 0.2) 8%, 
  transparent 8%
);
background-position: 0% 0%;
background-size: 5vmin 5vmin;
height: calc(100% - 10vmin);
padding: 5vmin;
position: relative;
transition: background-position 350ms ease;
width: calc(100% - 10vmin);
z-index: 2;
}

.card-title1,
.card-subtitle1 {
color: white;
font-family: "Anek Latin", sans-serif;
font-weight: 400;
margin: 0px;
}

.card-title1 {
font-size: 6vmin;
}

.card-subtitle1 {
font-size: 2vmin;
margin-top: 2vmin;
}

.card-subtitle-word1 {
display: inline-block;
margin: 0vmin 0.3vmin;
opacity: 0;
position: relative;  
transform: translateY(40%);
transition: none;
}



/* music card2 */
.card2 {
aspect-ratio: 1 / 1.6;
border: 0.5vmin solid var(--border);
position: relative;
width: 32vmin;
transform: translateX(-10%);
}

.card2:hover:before {
background-position: 100% 100%;
transform: scale(1.08, 1.03);
}

.card2:hover > .card-content2 {
background-position: -10% 0%;
}

.card2:hover > .card-icon2 {
color: white; 
}

.card2:hover > .card-content2 > .card-subtitle2 > .card-subtitle-word2 {  
opacity: 1;
transform: translateY(0%);
transition: opacity 0ms, transform 200ms cubic-bezier(.90, .06, .15, .90);
}

.card2:before {
background: linear-gradient(
  130deg, 
  transparent 0% 33%, 
  rgb(74, 57, 83) 66%, 
  rgb(158, 108, 216) 83.5%, 
  rgb(155, 155, 155)100%
);
background-position: 0% 0%;
background-size: 300% 300%;
content: "";
height: 100%;
left: 0px;
pointer-events: none;
position: absolute;
top: 0px;
transition: background-position 350ms ease, transform 350ms ease;
width: 100%;
z-index: 1;
}

.card-content2 {
background-image: radial-gradient(
  rgba(255, 255, 255, 0.2) 8%, 
  transparent 8%
);
background-position: 0% 0%;
background-size: 5vmin 5vmin;
height: calc(100% - 10vmin);
padding: 5vmin;
position: relative;
transition: background-position 350ms ease;
width: calc(100% - 10vmin);
z-index: 2;
}

.card-title2,
.card-subtitle2 {
color: white;
font-family: "Anek Latin", sans-serif;
font-weight: 400;
margin: 0px;
}

.card-title2 {
font-size: 6vmin;
}

.card-subtitle2 {
font-size: 2vmin;
margin-top: 2vmin;
}

.card-subtitle-word2 {
display: inline-block;
margin: 0vmin 0.3vmin;
opacity: 0;
position: relative;  
transform: translateY(40%);
transition: none;
}



/* music card3 */
.card3 {
aspect-ratio: 1 / 1.6;
border: 0.5vmin solid var(--border);
position: relative;
width: 32vmin;
transform: translateX(-5%);
}

.card3:hover:before {
background-position: 100% 100%;
transform: scale(1.08, 1.03);
}

.card3:hover > .card-content3 {
background-position: -10% 0%;
}

.card3:hover > .card-icon3 {
color: white; 
}

.card3:hover > .card-content3 > .card-subtitle3 > .card-subtitle-word3 {  
opacity: 1;
transform: translateY(0%);
transition: opacity 0ms, transform 200ms cubic-bezier(.90, .06, .15, .90);
}

.card3:before {
background: linear-gradient(
  130deg, 
  transparent 0% 33%, 
  rgb(44, 62, 122) 66%, 
  rgb(91, 114, 180) 83.5%, 
  rgb(155, 155, 155)100%
  /* rgb(226, 70, 70) 66%, 
  rgb(223, 127, 127) 83.5%, 
  rgb(255, 255, 255)100% */
);
background-position: 0% 0%;
background-size: 300% 300%;
content: "";
height: 100%;
left: 0px;
pointer-events: none;
position: absolute;
top: 0px;
transition: background-position 350ms ease, transform 350ms ease;
width: 100%;
z-index: 1;
}

.card-content3 {
background-image: radial-gradient(
  rgba(255, 255, 255, 0.2) 8%, 
  transparent 8%
);
background-position: 0% 0%;
background-size: 5vmin 5vmin;
height: calc(100% - 10vmin);
padding: 5vmin;
position: relative;
transition: background-position 350ms ease;
width: calc(100% - 10vmin);
z-index: 2;
}

.card-title3,
.card-subtitle3 {
color: white;
font-family: "Anek Latin", sans-serif;
font-weight: 400;
margin: 0px;
}

.card-title3 {
font-size: 6vmin;
}

.card-subtitle3 {
font-size: 2vmin;
margin-top: 2vmin;
}

.card-subtitle-word3 {
display: inline-block;
margin: 0vmin 0.3vmin;
opacity: 0;
position: relative;  
transform: translateY(40%);
transition: none;
}


/* welcome modal work */

.center {
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
}
.popup {
width:40%;
height:40%;
padding:30px 20px;
background:#f5f5f5;
border-radius:10px;
box-sizing:border-box;
z-index:2;
text-align:center;
opacity:0;
top:-200%;
transform:translate(-50%,-50%) scale(0.5);
transition: opacity 300ms ease-in-out,
            top 1000ms ease-in-out,
            transform 1000ms ease-in-out;
}
.popup.active {
opacity:1;
top:50%;
transform:translate(-50%,-50%) scale(1);
transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
}
.popup .icon {
margin:5px 0px;
width:50px;
height:50px;
border:3px solid #f5f5f5;
text-align:center;
display:inline-block;
border-radius:50%;
line-height:50px;
}
.popup .icon i.fa-solid {
font-size:1.5vw;
color:#464646;
} 
.popup .title {
margin:5px 0px;
font-size:2vw;
font-weight:600;
color:rgb(116, 175, 180);
}
.popup .description {
color:#222;
font-size:1vw;
font-weight: bold;
padding:5px;
}
.popup .dismiss-btn {
margin-top:15px;
}
.popup .dismiss-btn button {
padding:10px 20px;
background:#111;
color:#f5f5f5;
border:2px solid #111;
font-size:16px;
font-weight:600;
outline:none;
border-radius:10px;
cursor:pointer;
transition: all 300ms ease-in-out;
}
.popup .dismiss-btn button:hover {
color:#111;
background:#f5f5f5;
}
.popup > div {
position:relative;
top:10px;
opacity:0;
}
.popup.active > div {
top:0px;
opacity:1;
}
.popup.active .icon {
transition: all 300ms ease-in-out 250ms;
}
.popup.active .title {
transition: all 300ms ease-in-out 300ms;
}
.popup.active .description {
transition: all 300ms ease-in-out 350ms;
}
.popup.active .dismiss-btn {
transition: all 300ms ease-in-out 400ms;
}
/* modal work ends */


/* potential modal work for exp*/

.center1 {
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
}
.popup1 {
width:40%;
height:40%;
padding:30px 20px;
background:#f5f5f5;
border-radius:10px;
box-sizing:border-box;
z-index:2;
text-align:center;
opacity:0;
top:-200%;
transform:translate(-50%,1200%) scale(0.5);
transition: opacity 300ms ease-in-out,
            top 1000ms ease-in-out,
            transform 1000ms ease-in-out;
}
.popup1.active {
opacity:1;
top:50%;
transform:translate(-50%,1200%) scale(1);
transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
}
.popup1 .icon {
margin:5px 0px;
width:50px;
height:50px;
border:3px solid #f5f5f5;
text-align:center;
display:inline-block;
border-radius:50%;
line-height:60px;
}
.popup1 .icon i.fa-solid {
font-size:30px;
color:#f24734;
} 
.popup1 .title1 {
margin:5px 0px;
font-size:30px;
font-weight:600;
color:rgb(0, 0, 0);
}
.popup1 .description1 {
color:#222;
font-size:15px;
font-weight: bold;
padding:5px;
}
.popup1 .dismiss-btn1 {
margin-top:15px;
}
.popup1 .dismiss-btn1 button {
padding:10px 20px;
background:#111;
color:#f5f5f5;
border:2px solid #111;
font-size:16px;
font-weight:600;
outline:none;
border-radius:10px;
cursor:pointer;
transition: all 300ms ease-in-out;
}
.popup1 .dismiss-btn1 button:hover {
color:#111;
background:#f5f5f5;
}
.popup1 > div {
position:relative;
top:10px;
opacity:0;
}
.popup1.active > div {
top:0px;
opacity:1;
}
.popup1.active .icon {
transition: all 300ms ease-in-out 250ms;
}
.popup1.active .title1 {
transition: all 300ms ease-in-out 300ms;
}
.popup1.active .description1 {
transition: all 300ms ease-in-out 350ms;
}
.popup1.active .dismiss-btn1 {
transition: all 300ms ease-in-out 400ms;
}
/* modal work ends */


/* creating page references */
#ref1 {
position: absolute;
top: 0;
}

#ref2 {
position: absolute;
top: 100%;
}

#ref3 {
position: absolute;
top: 200%;
}

#ref4 {
position: absolute;
top: 300%;
}

#ref5 {
position: absolute;
top: 400%;
}

#ref6 {
position: absolute;
top: 500%;
}

#ref7 {
position: absolute;
top: 600%;
}


/* modal work for page menu */
/* possible improvement: make it appear on every page instead of just the first one */

.center2 {
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
}
.popup2 {
width:40%;
height:10%;
padding:30px 20px;
background:#f5f5f5;
border-radius:10px;
box-sizing:border-box;
z-index:2;
text-align:center;
opacity:0;
top:-200%;
transform:translate(50%,-450%) scale(0.5);
transition: opacity 300ms ease-in-out,
            top 1000ms ease-in-out,
            transform 1000ms ease-in-out;
}
.popup2.active {
opacity:1;
top:50%;
transform:translate(-50%,-450%) scale(1);
transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
}

.popup2 .title2 {
transform:translate(-5%,-40%);
margin:5px 0px;
font-size:30px;
font-weight:600;
color:rgb(0, 0, 0);
}
.popup2 .description2 {
color:#222;
font-size:15px;
font-weight: bold;
padding:5px;
}
/* .popup2 .dismiss-btn2 {
margin-top:15px;
} */
.popup2 .dismiss-btn2 button {
transform: translate(430%,-145%);
padding:10px 20px;
background:#111;
color:#f5f5f5;
border:2px solid #111;
font-size:16px;
font-weight:600;
outline:none;
border-radius:10px;
cursor:pointer;
transition: all 300ms ease-in-out;
}
.popup2 .dismiss-btn2 button:hover {
color:#111;
background:#f5f5f5;
}
.popup2 > div {
position:relative;
top:10px;
opacity:0;
}
.popup2.active > div {
top:0px;
opacity:1;
}
.popup2.active .icon {
transition: all 300ms ease-in-out 250ms;
}
.popup2.active .title2 {
transition: all 300ms ease-in-out 300ms;
}
.popup2.active .description2 {
transition: all 300ms ease-in-out 350ms;
}
.popup2.active .dismiss-btn2 {
transition: all 300ms ease-in-out 400ms;
}
/* modal work ends */

a { text-decoration: none; }

/* github style */
.myLink {
font-weight: 700;
animation: background-pan 2s linear infinite;
background: linear-gradient(
  to right,
  var(--red1),
  var(--darkPink1),
  var(--pink1),
  var(--red1)
);
background-size: 200%;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
whitespace: nowrap;

font-size: var(--pss);

border-bottom: none;
transition: all 75ms ease-in-out;

}


/* linkedin style */
.myLink1 {
  font-weight: 700;
  animation: background-pan 2s linear infinite;
  background: linear-gradient(
    to right,
    var(--white1),
    var(--lightBlue1),
    var(--blue1),
    var(--white1)
  );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  whitespace: nowrap;
  
  font-size: var(--pss1);
  
  border-bottom: none;
  transition: all 75ms ease-in-out;
  
  }


  /* email style */
.myLink2 {
  font-weight: 700;
  animation: background-pan 2s linear infinite;
  background: linear-gradient(
    to right,
    var(--white2),
    var(--lightRed1),
    var(--realRed1),
    var(--white2)
  );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  whitespace: nowrap;
  
  font-size: var(--pss2);
  
  border-bottom: none;
  transition: all 75ms ease-in-out;
  
  }
  
  .plusColors {
    font-weight: 700;
    animation: background-pan 2s linear infinite;
    background: linear-gradient(
      to right,
      var(--pc1),
      var(--pc2),
      var(--pc3),
      var(--pc1)
    );
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    whitespace: nowrap;
    
    font-size: var(--pss1);
    
    border-bottom: none;
    transition: all 75ms ease-in-out;
    
    }